 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
/*add*/
 /*sunkeyi 增加 296675685@qq.com*/
/* 导航颜色*/
 $navbar-color: #3c3e42;
/*统一*/
 body {
   padding-top: 60px;
 }

 section {
   overflow: auto;
 }

 textarea {
   resize: vertical;
 }

 .jumbotron {
   text-align: center;
 }

 /*排版*/
 h1,h2,h3,h4,h5,h6 {
   line-height: 1;
 }
 
 h1 {
   font-size: 3em;
   letter-spacing: -2px;
   margin-bottom: 30px;
   text-align: center;
 }
 
 h2 {
   font-size: 1.2em;
   letter-spacing: -1px;
   margin-bottom: 30px;
   text-align: center;
   font-weight: normal;
   color: #777;
 }
 
 p {
   font-size: 1.1em;
   line-height: 1.7em;
 }
 
 /*头部*/
 
 .navbar-inverse {
   background-color: $navbar-color;
 }
 
 #logo {
   float: left;
   margin-right: 10px;
   font-size: 1.7em;
   color: #fff;
   text-decoration: none;
   letter-spacing: -1px;
   padding-top: 9px;
   font-weight: bold;
   &:hover {
     color: #fff;
   }
 }
 
 /*脚部*/
 footer {
   margin-top: 45px;
   padding-top: 5px;
   border-top: 1px solid #eaeaea;
   color: #777;


 a {
   color: #5bc0de;
 }

 a:hover {
   color: #ff6666;
 }
 
 small {
   float: right;
 }

 ul {
   float: right;
   list-style: none;


 li {
   float: left;
   margin-left: 15px;
    }
 }

 img.brand-icon {
   width: 17px;
   height: 17px;
 }

 .slogon {
   font-size: 13px;
   font-weight: bold;
 }

 }
 
 
 
 
 
 
 
 